In [2]:
import pandas as pd

In [7]:
df = pd.read_parquet("data/data/train/chunk_09.parquet")
print(df.shape)
df.head()

(500000, 5)

,date,customerId,feature1,feature2,target
0,2024-03-27,b7a1cd10-a04f-4c18-818f-bc2beb511ccd,46.221709,0.894587,1
1,2023-12-07,9060407c-d31c-4290-9a6a-6869bf6e74c8,50.003714,0.079709,1
2,2023-12-28,f05fb84f-07f2-42d2-aa17-3c7f1e7a2f7d,53.048249,2.944088,1
3,2023-05-14,bf602e65-fdae-4d1e-9cb1-04d9d366724a,40.617128,0.989605,1
4,2023-05-17,36731821-b30c-4f20-acf9-a180ca1ca04e,72.097423,2.087374,1

In [3]:
df.target.sum()

428101

In [4]:
print(df.date.min())
print(df.date.max())

2023-01-01 00:00:00
2024-12-31 00:00:00

In [3]:
df_test = pd.read_parquet("data/data/predict/chunk_01.parquet")

In [9]:
df_test.head()

,date,customerId,feature1,feature2,target
0,2025-06-23,e08aa5c7-99be-4373-9d7a-6e12619851a1,46.011688,0.130936,1
1,2025-02-18,73e28e4c-25c8-4ddc-a1f0-44a5ab9a0310,24.309077,1.368083,0
2,2025-04-29,16e0215d-9f73-4e98-889c-186d4d22b127,65.842650,1.268610,1
3,2025-07-13,a9df18fc-6dd1-4674-88b1-d80120ee5308,40.843659,2.317356,1
4,2025-11-21,8f038dc8-8adc-4614-8d81-d04892df0606,45.022719,1.493261,0

In [10]:
df_test.target.sum() / df_test.shape[0]

0.855842

In [11]:
df.target.sum() / df.shape[0]

0.856202

In [4]:
df_test.date.min()

Timestamp('2025-01-02 00:00:00')

In [5]:
df_test.date.max()

Timestamp('2025-12-31 00:00:00')